@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

em{
  background-color: rgba(108, 88, 206, 0.4);
  border: 1px solid #8c8c8c;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  font-weight: 500;
}

pre{
	overflow-x: scroll;
}

body{
	  margin: 0 !important;
}

a{
  text-decoration: none;
  color: white;
  text-decoration-color: none;
}

a i{
  user-select: none;
  cursor: pointer;
}

ul li{
  user-select: none;
}
/*Dopdown-------------------*/
div.dropdown{
  display: inline-block;
  position: relative;
  color: white;
  height: auto;
  width: 100px;
  overflow: hidden;
  top: 20px;
  list-style: none;
  overflow:hidden;
  margin: 0;
  padding: 0;
  line-height: 25px;
  text-align: center;
  z-index: 9999999;
}

div.dropdown < i{
	position: relative;
}

div.dropdown ul.dropdown-content{
  display:none;
  background-color: #8870FF;
  position:relative;
  width: 100%;
  overflow-y: auto;
  height: auto !important;
  z-index: 99999999;
}

div.dropdown ul.dropdown-content > li a{
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  right: 60px;
  z-index: 999999;
}

div.dropdown ul.dropdown-content > li:hover a{
  color: rgba(255, 255, 255, 0.5);
}

/*Navbar---------------------*/
nav{
  height: 60px;
  background-color: #8870FF;
  width: 100%;
  line-height: 60px;

}

nav ul{
  display: inline-block;
  color: white !important;
  overflow: hidden;
  list-style: none;
  width: 8.33%
  height:auto;
}

nav ul li{
  float: left;
  margin: 0px 30px;
  z-index: 9999999;
}

.mobile-navbar-menu{
  display: none;
  width: 50%;
  height: 100%;
  position: fixed;
  top:42px;
  left: 0px;
  float: left !important;
  background-color: #8870FF;
  z-index: 9999;
}

li.parent{
  font-size: 18px;
  font-weight: bold;
  margin-left: -130px !important;
  line-height: 2rem;
}

li.child{
  background-color: #6c58ce;
  transition: .5 all;
  line-height: 2rem;
}

li.child:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

.mobile-navbar-menu li{
  display: block !important;
  float: none !important;
  text-align: center;
  height: 3rem;
  margin: 0px -45px;
  padding-top: 10px;
  padding-bottom: 15px;
}
/*Some predefined colors*/


/* Grid Config*/
[class*="col-"]{
    float: left;
    height: auto;
    padding: 0.3rem;
    margin: 0.2rem 0rem;
}

.row::after{
  content: "";
  display: table;
  clear: both;
  height: auto;
}
/*For mobile*/
.col-m-1{
  width: 8.33% !important;
}

.col-m-2{
  width: 16.66% !important;
}

.col-m-3{
  width: 25% !important;
}

.col-m-4{
  width: 33.33% !important;
}

.col-m-5{
  width: 41.66% !important;
}

.col-m-6{
  width: 50% !important;
}

.col-m-7{
  width: 58.33% !important;
}

.col-m-8{
  width: 66.66% !important;
}

.col-m-9{
  width: 75% !important;
}

.col-m-10{
  width: 83.33% !important;
}

.col-m-11{
  width: 91.66% !important;
}

.col-m-12{
  width: 100% !important;
}

.show-in-mobile{
  display: inline-block !important;
  padding: 0px 0px !important;
  vertical-align: middle;
  line-height: 30px;
}

.show-in-desktop{
  display: none !important;
}

/*For tablet resolution*/
@media only screen and (min-width: 680px){
  .col-t-1{
    width: 8.33% !important;
  }

  .col-t-2{
    width: 16.66% !important;
  }

  .col-t-3{
    width: 25% !important;
  }

  .col-t-4{
    width: 33.33% !important;
  }

  .col-t-5{
    width: 41.66% !important;
  }

  .col-t-6{
    width: 50% !important;
  }

  .col-t-7{
    width: 58.33% !important;
  }

  .col-t-8{
    width: 66.66% !important;
  }

  .col-t-9{
    width: 75% !important;
  }

  .col-t-10{
    width: 83.33% !important;
  }

  .col-t-11{
    width: 91.66% !important;
  }

  .col-t-12{
    width: 100% !important;
  }

  .show-in-mobile{
    display: inline-block !important;
    padding-bottom: 0px !important;
    vertical-align: middle;
    line-height: 30px;
  }

  .show-in-desktop{
    display: none !important;
  }
}
/*For desktop resolution*/
@media only screen and (min-width: 780px){
  .col-l-1{
    width: 8.33% !important;
  }

  .col-l-2{
    width: 16.66% !important;
  }

  .col-l-3{
    width: 25% !important;
  }

  .col-l-4{
    width: 33.33% !important;
  }

  .col-l-5{
    width: 41.66% !important;
  }

  .col-l-6{
    width: 50% !important;
  }

  .col-l-7{
    width: 58.33% !important;
  }

  .col-l-8{
    width: 66.66% !important;
  }

  .col-l-9{
    width: 75% !important;
  }

  .col-l-10{
    width: 83.33% !important;
  }

  .col-l-11{
    width: 91.66% !important;
  }

  .col-l-12{
    width: 100% !important;
  }

  .show-in-mobile{
    display: none !important;
  }

  .show-in-desktop{
    display: inline-block !important;
    padding: 0px 0px !important;
    vertical-align: middle;
    line-height: 30px;
  }
}
/*Grid Config Ended*/

/*Some useful classes*/
.center{
  text-align: center;
}

.left-align-text{
  text-align: left;
}

.right-align-text{
  text-align: right;
}

.left{
  float: left !important;
}

.right{
  float: right !important;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 0px 20px;
}
/*End useful classes*/
/*Blockquote*/
blockquote{
  border-left: 6px solid  #6c58ce;
  padding-left: 1rem;
  background-color: rgba(108, 88, 206, 0.5);
}

/*Forms related*/
[class*="button-"]{
  margin-left: 2rem;
  user-select: none;
  width: auto !important;
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select:none;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transition: .3s all;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  display: inline-block !important;
  height: 53px;
}

[class*="button-"]:hover{
  opacity: 0.7;
  box-shadow: 4px 4px rgba(0, 0, 0, 0);
}

[class*="button-"] i{
  position: relative !important;
  top: 0px !important;
  left: -16px !important;
  padding-bottom: -90px !important;
}

.no-shadow{
  box-shadow: 4px 4px rgba(0, 0, 0, 0) !important;
}

.flat-danger{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #C82647 !important;
}

.flat-primary{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #2C82C9 !important;
}

.flat-warning{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #FD5B03 !important;
}

.flat-green{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #2CC990 !important;
}

.flat-purple{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #8870FF !important;
}

.button-danger{
  width: auto;
  background-color: #C82647;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 1rem;
  display:table;
}

.button-purple{
  background-color: #8870FF;
  width: auto;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 1rem;
  display:table;
}

.button-primary{
  width: auto;
  background-color: #2C82C9;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 1rem;
  display:table;
}

.button-green{
  width: auto;
  background-color: #2CC990;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 1rem;
  display:table;
}

.button-warning{
  width: auto;
  background-color: #FD5B03;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 1rem;
  display:table;
}

[class *= "input-"]{
  user-select: none;
}

input[type="text"]{
  max-width: 100%;
  width: auto;
  padding-left: 8px;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: #60646D;
  background-color: rgba(0,0,0,0);
  user-select: none;
}

input[type="text"] + i,
i + input[type="text"]{
  position: relative;
  top: -5px;
  left: -25px;
  padding-left: 27px;
}

i.material-icons{
  position: relative;
  z-index: 99;
  top: 3px;
  left: 3px;
}

input:focus{
  outline: none;
}

label.input-text{
  color: #60646D;
  margin:5px 20px;
}

input[type="text"]:disabled{
  border-bottom: 2px dotted rgba(0,0,0,0.4);
  cursor: not-allowed;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:disabled + label::before{
  background-color: #9E9D9B;
  cursor: not-allowed;
  border: 2px solid #9E9D9B !important;
}

input[type="checkbox"] + label{
  content: '';
  padding-left: 1.7em;
  user-select: none;
  position: relative;
}

input[type="checkbox"] + label::before{
  content:'';
  width: 1em;
  height: 1em;
  border-radius: 3px;
  border: 2px solid #60646D;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: .7s all;
  color: #2CC990;
}

input[type="checkbox"]:checked + label::before{
  font-family: "Material Icons";
  font-weight: bold;
  content:'check';
  border: 2px solid #2CC990;
  position: absolute;
  transform: rotate(360deg);
  top: 1px;
  left: 1px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label{
  content: '';
  padding-left: 1.7em;
  user-select: none;
  position: relative;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before{
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid #60646D;
  position: absolute;
  top:1px;
  left:1px;
  transition: .3s all;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after{
  content: '';
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #2CC990;
  position: absolute;
  top:3.95px;
  left:3.8px;
  transition: .3s all;
}

input[type="radio"]:checked + label::after{
  transform: scale(1);
  -webkit-transform: scale(1);
}

input[type="radio"] + label::after{
  transform: scale(0);
  -webkit-transform: scale(0);
}

input[type="radio"]:checked + label::before{
  border: 2px solid #2CC990;
}

input[type="radio"] + label::before{
  border: 2px solid #60646D;
}

input[type="radio"]:disabled + label::before{
  border: 2px solid #9E9D9B;
  background-color: #9E9D9B;
}
